#agenda{
    padding-top: 40px;
    background-color:  #eee;
    text-align: left;
}

#agenda h1{
    padding-top: 0;
}

.pelicula-agenda{
    background: linear-gradient(to right, rgba(153,134,117,0.5), rgba(179,179,179,0.5));
}

.view-cap, .view-container-border {
    background-color: red !important;
}

.date-label{
    font-size: 60px;
}

.agenda-data{
    border: 2px solid #303030;
    padding: 15px;
    color: #303030;
    font-size: 28px;
    margin-right: 15px;
}

#agenda li{
    list-style: none;
    margin: 15px 0px;
    font-weight: bold;
}