#agenda{
    background: url('../img/agenda.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.pelicula-agenda{
    background: linear-gradient(to right, rgba(153,134,117,0.5), rgba(179,179,179,0.5));
}

.view-cap, .view-container-border {
    background-color: red !important;
}

.date-label{
    font-size: 60px;
}