@font-face {
    font-family: Roboto;
    src: url("../fontes/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fontes/Roboto-Bold.ttf");
	font-weight: bold;
}

@font-face {
    font-family: Playfair Display;
    src: url("../fontes/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: Playfair Display;
    src: url("../fontes/PlayfairDisplay-Bold.ttf");
	font-weight: bold;
}

@font-face {
    font-family: Playfair Display;
    src: url("../fontes/PlayfairDisplay-Italic.ttf");
	font-style: italic;
}

@font-face {
    font-family: Playfair Display;
    src: url("../fontes/PlayfairDisplay-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6{
	font-family: Playfair Display;
	font-weight: bold;
}

h1{
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	padding: 50px 0;
}

p{ 	
	text-align: center;
}

section{
	padding-bottom: 40px;
}

body, html{
	font-family: Roboto;
	height: 100%;
	margin: 0;
}

header {
	background-image: url("../img/header_background.png");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.navbar-top{
	padding-top: 30px;
}

.navbar-nav{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14px;
}

.navbar-nav > .nav-item{
	margin-left: 25px;
	font-weight: bold;
}


header i {
	margin-left: 5px;
	height: 40px;
	width: 40px;
	border: 1px solid #bbb;
	border-radius: 50%;
}

.fa-facebook-f{
	padding: 10px 0 0 15px;
}

.fa-youtube{
	padding: 10px;
}

header i:first-child {
	margin-left: 0px;
}

.frase-destaque
{
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
}

.frase-destaque .frase
{
	font-family: Playfair Display;
	font-size: 42px;
	text-align: center;
	padding: 0 20px 0 20px;
}
.frase-destaque p
{
	text-align: center;
}

.somos{
	margin-left: 80px;
}

#quem-somos p{
	text-align: center;
}

.social-icons a > i{
	transition: background 0.8s;
}

.social-icons a > i:hover{
	background: #eee;
}

#videos{
	text-align: center;
	background-image: url("../img/header_background.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#videos .btn-outline-dark{
	margin-top: 50px !important;
}


#blogs .card {
	border-color: #303030 !important;
	text-align: center;
	border-radius: 0;
	border-width: 2px;
	margin-bottom: 15px;
}


.btn.btn-outline-dark{
	border-color: #303030 !important;
	border-radius: 0;
	border-width: 2px;
	padding: 12px 30px;
	color: #303030;
	font-weight: bold;
}

.btn.btn-outline-dark:hover{
	color: #fff;
}


.btn.btn-primary{
	background-color: #303030;
	border: 0;
	padding: 12px 30px;
	border-radius: 0;
}

@media (max-width: 425px){
	.frase-destaque .frase
	{
	font-size: 36px;
	}
	h1{
	font-size: 70px;
	}
}

@media (max-width: 768px){
	#nav-mobile{
		display: block;
	}
	#nav-desktop{
		display: none;
	}
}

@media (min-width: 769px){
	#nav-mobile{
		display: none;
	}
	#nav-desktop{
		display: block;
	}
}

#wendell-oriana{
	background-color: #bbb;
	background: url('../img/fundadores.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 769px){
	#wendell-oriana{
		background-color: #bbb;
		background: url('../img/fundadores.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}